[submodule "AudiosetLabelSelector"]
	path = AudiosetLabelSelector
	url = https://github.com/SnowFairyTea/AudiosetLabelSelector
[submodule "GetAudiosetSample"]
	path = GetAudiosetSample
	url = https://github.com/SnowFairyTea/GetAudiosetSample
[submodule "AudiosetLabelSelector"]
	
	branch = main
[submodule "GetAudiosetSample"]
	
	branch = main
